﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="quotefirst.ascx.cs" Inherits="includes_mail_quotefirst" %>
<style>
    .page-break {
        display: block;
        page-break-after: always;
    }
</style>
<table border="0" align="center" class="fnt16" width="100%">
    <tr>
        <td>
            <div style="width: 600px; float: right; margin-top: 10px;">
                <div class="logomain">
                    <img src="<%=MakeImageSrcData( Request.PhysicalApplicationPath+"/images/ES_CorpBooklet_A5_12ppProof5-1.png") %>" />
                </div>
            </div>
        </td>
    </tr>
</table>
<table class="page-break">
</table>
