﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="footer.ascx.cs" Inherits="admin_include_fotter" %>
<%--<div id="globalFooter" class="printorder">
    <div id="footer">
        <div class="copyRight">
            Copyright &copy; <%=DateTime.Now.Year %>
            <asp:Label ID="lblsitename1" runat="server" Text=""></asp:Label>
            All rights reserved.
        </div>
        <div class="siteCreated">
            Site By : 
                <asp:HyperLink runat="server" ID="hypsiteby"
                    Target="_blank"> </asp:HyperLink>
            <asp:Label ID="lblsitebyname" runat="server"></asp:Label>
        </div>
    </div>
    <div class="clear">
    </div>
</div>--%>
<footer class="footer printorder" id="footer">
    <span class="pull-right iconmegh">Designed by: <a href="http://www.meghtechnologies.com/" target="_blank">&nbsp;</a>
    </span>
    <span class="copytext">&copy; <%=DateTime.Now.Year %> Arisesolar. All rights reserved.</span>
</footer>
