@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

body { margin:0px; padding:0px; background:url(../images/back-bg.jpg) no-repeat center center; background-size:cover; background-attachment:fixed;    }
html,body { min-height:100%;}
body:before{ content:''; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.1); left:0; top:0;}

.center-div {	position:absolute; top:50%; -webkit-transform:translate(0,-50%); transform:translate(0,-50%); width:100%; text-align:center; }
.login-form{ max-width:363px; margin:auto; width:90%; background:rgba(255,255,255,0.7); -webkit-border-radius:5px; border-radius:5px; font-family: 'Roboto Condensed', sans-serif; -webkit-box-sizing:border-box; box-sizing:border-box; padding:0 44px 44px; display:inline-block; vertical-align:middle; }

.login-logo { text-align:center;}
.login-form .in { width:100%; margin-bottom:15px;}
.login-form h2 { margin:20px 0px 30px; padding:0px; font-size:30px; font-weight:400; color:#625f5a; text-align:center;}
.login-form .in input { width:100%; text-align:center; height:47px; background:rgba(208,208,208,0.9); text-align:center; font-size:18px; font-weight:300;  -webkit-border-radius:5px; border-radius:5px; color:#625f5a; border:none; font-family: 'Roboto Condensed'; font-weight:300;}
.login-btn { width:122px; margin:auto;}
.login-btn input.btn-col { width:122px; height:46px; background:#3084a9; -webkit-border-radius:5px; border-radius:5px; text-align:center; font-weight:700; font-size:18px; color:#fff; border:none; cursor:pointer;}
.login-form p.center {    text-align: center; color:#625f5a;}
.login-form p.center a{ color:#625f5a; text-decoration:none;}

@media(max-width:767px) {
.center-div { position:relative; left:0; top:0; -webkit-transform:translate(0); transform:translate(0); padding:40px 0; 	}	
.login-form { padding:0 25px 25px}
.login-logo img{ max-width:95%;}
}