﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NewPaymentReceipt.aspx.cs" Inherits="Telerik_reports_NewPaymentReceipt" %>



<%@ Register Assembly="Telerik.ReportViewer.WebForms, Version=16.0.22.225, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" Namespace="Telerik.ReportViewer.WebForms" TagPrefix="telerik" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
             <telerik:ReportViewer ID="ReportViewer1" runat="server" Width="80%" Height="600px" ViewMode="PrintPreview"></telerik:ReportViewer>
        </div>
    </form>
</body>
</html>

